{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Hot questions{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-8" style="margin-right: 105px">
                <div class="row" style="margin-bottom: 60px">
                    <div class="col-4">
                        <h2>New Questions</h2>
                    </div>
                    <div class="col-3" style="margin-top: 12px">
                        <a href="/">Hot Questions</a>
                    </div>
                </div>


                <!-- цикл для отображения постов, очень удобно -->
                {% for item in questions %}
                    {% include 'components/question-item.html' %}
                {% endfor %}

            </div>
        </div>

    </div>


    {% include 'components/pagination.html' %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/like-counter.js"></script>
{% endblock %}