{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Hot questions{% endblock %}

            {% block left-side %}
                <div class="row" style="margin-bottom: 60px">
                    <div class="col-4">
                        <h2>Hot Questions</h2>
                    </div>
                    <div class="col-3" style="margin-top: 12px">
                        <a href='{% url 'index' %}'>New Questions</a>
                    </div>
                </div>


                <!-- цикл для отображения постов, очень удобно -->
                {% for item in questions %}
                    {% include 'components/question-item.html' %}
                {% endfor %}

{% endblock %}

{% block pagination %}
{% include 'components/pagination.html' %}
{% endblock %}

{% block scripts %}
    <script src={% static "js/like-counter.js" %}></script>
{% endblock %}