{% extends "layouts/base.html" %}
{% load static %}

{% block title %}AskMe{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-8" style="margin-right: 105px">
                <div class="row" style="margin-bottom: 60px">
                    <div class="col-4">
                        <h2>New Questions</h2>
                    </div>
                    <div class="col-3" style="margin-top: 12px">
                        <a href="/">Hot Questions</a>
                    </div>
                </div>


 <!-- цикл для отображения постов, очень удобно -->
{% for item in questions %}
    {% include 'components/question-item.html' %}
{% endfor %}

            </div>
            <div class="col-3">
                <div class="row">
                    <h3 style="padding-bottom: 20px">Popular Tags</h3>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:#1a1d20">perl</span>
                        <span class="tag" style="color:red">python</span>
                        <span class="tag" style="color:black">TechnoPark</span>
                    </div>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:darkred">MySQL</span>
                        <span class="tag" style="color:forestgreen">django</span>
                    </div>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:#1a1d20">Mail.Ru</span>
                        <span class="tag" style="color:darkcyan">Firefox</span>
                    </div>
                </div>
                <div class="row best_members">
                    <h3 style="padding-bottom: 20px">Best Members</h3>
                    <a class="member" href="/">Member 1</a>
                    <a class="member" href="/">Member 2</a>
                    <a class="member" href="/">Member 3</a>
                    <a class="member" href="/">Member 4</a>
                    <a class="member" href="/">Member 5</a>
                    <a class="member" href="/">Member 6</a>
                </div>
            </div>
        </div>
    </div>


    {% include 'components/pagination.html' %}

{% endblock %}

{% block scripts %}
<script src="/static/js/like-counter.js"></script>
{% endblock %}