{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Question{% endblock %}



{% block left-side %}
    {% include 'components/question-item.html' %}


     {% for answer in item.answers %}
    {% include 'components/answer-item.html' %}
    {% endfor %}


    <textarea class="row question" style="width: 600px;height: 220px">Enter your answer here</textarea>

    <div class="row">
        <button style="margin-top: 18px;width: 80px;height:50px">Answer</button>

    </div>

{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
{% endblock %}