{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Question{% endblock %}



{% block left-side %}
    {% include 'components/question-item.html' %}


     {% for answer in item.answers.all %}
    {% include 'components/answer-item.html' %}
    {% endfor %}



    <form action='{% url 'question' question_id=item.id %}' method="post">
    {% csrf_token %}
        {{ form.answer.errors }}
        <div class="row ask_question">
        {{ form.answer}}
        </div>

    <input  type="submit" value="Answer">
</form>

{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
{% endblock %}