{% extends "layouts/base.html" %}


{% block links %}
    <link rel="stylesheet" href="../static/css/upload_form.css">
{% endblock %}

{% block title %}Settings{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-8" style="margin-right: 105px">
                <div class="col-4">
                    <h2 style="margin-bottom: 60px">Settings: Dr. Pepper</h2>
                </div>
                <div class="row ask_question">
                    <h6 class="col-2">Login</h6>
                    <input class="col-9 pole_for_log" type="text">
                </div>
                <div class="row ask_question" style="margin-bottom: 40px">
                    <h6 class="col-2">Email</h6>
                    <input class="col-9 pole_for_log" type="text">
                </div>
                <div class="row ask_question" style="margin-bottom: 40px">
                    <h6 class="col-2">NickName</h6>
                    <input class="col-9 pole_for_log" type="text">
                </div>
                <div class="row ask_question" style="margin-bottom: 40px">
                    <h6 class="col-2">Upload avatar</h6>


                    <form class="col-9" style="padding: unset" id="upload-container" method="POST" action="#">
                        <input id="file-input-image" type="file" name="file" multiple>
                        <label for="file-input-image"><img style="margin-left: 29%" id="upload-image"
                                                           src="../static/img/upload.svg"></label>
                        <div>
                            <input id="file-input" type="file" name="file" multiple>
                            <label for="file-input">Выберите файл</label>
                            <!--<span>или перетащите его сюда</span>-->
                        </div>
                    </form>
                </div>
                <div class="row">
                    <button class="col-9" style="margin-left: 145px; width: 90px">Save</button>
                </div>

            </div>
            <div class="col-3">
                <div class="row">
                    <h3 style="padding-bottom: 20px">Popular Tags</h3>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:#1a1d20">perl</span>
                        <span class="tag" style="color:red">python</span>
                        <span class="tag" style="color:black">TechnoPark</span>
                    </div>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:darkred">MySQL</span>
                        <span class="tag" style="color:forestgreen">django</span>
                    </div>
                    <div class="row-cols-3 tags">
                        <span class="tag" style="color:#1a1d20">Mail.Ru</span>
                        <span class="tag" style="color:darkcyan">Firefox</span>
                    </div>
                </div>
                <div class="row best_members">
                    <h3 style="padding-bottom: 20px">Best Members</h3>
                    <a class="member" href="/">Member 1</a>
                    <a class="member" href="/">Member 2</a>
                    <a class="member" href="/">Member 3</a>
                    <a class="member" href="/">Member 4</a>
                    <a class="member" href="/">Member 5</a>
                    <a class="member" href="/">Member 6</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="../static/js/upload-form.js"></script>
{% endblock %}