{% extends "layouts/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href={% static 'css/upload_form.css' %}>
{% endblock %}

{% block title %}Settings{% endblock %}


{% block left-side %}
    <div class="col-4">
        <h2 style="margin-bottom: 60px">Settings: Dr. Pepper</h2>
    </div>
    <div class="row ask_question">
        <h6 class="col-2">Login</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">Email</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">NickName</h6>
        <input class="col-9 pole_for_log" type="text">
    </div>
    <div class="row ask_question" style="margin-bottom: 40px">
        <h6 class="col-2">Upload avatar</h6>


        <form class="col-9" style="padding: unset" id="upload-container" method="POST" action="#">
            <input id="file-input-image" type="file" name="file" multiple>
            <label for="file-input-image"><img style="margin-left: 29%" id="upload-image"
                                               src="../static/img/upload.svg"></label>
            <div>
                <input id="file-input" type="file" name="file" multiple>
                <label for="file-input">Выберите файл</label>
                <!--<span>или перетащите его сюда</span>-->
            </div>
        </form>
    </div>
    <div class="row">
        <button class="col-9" style=" width: 90px">Save</button>
    </div>


{% endblock %}

{% block scripts %}
    <script src={% static 'js/upload-form.js' %}></script>
{% endblock %}