{% extends "layouts/base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href={% static "js/upload-form.js" %}>
{% endblock %}
{% block title %}Signup{% endblock %}





{% block left-side %}


    <div class="col-4" style="margin-bottom: 30px">
        <h2 style="margin-bottom: 30px">Registration</h2>
        <span style="color:darkred"></span>
    </div>
    <form action='{% url 'signup' %}' method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.widget_type.index %}
            {% endif %}
            <div class="error_1"> {{ field.errors }} </div>

            <div class="row ask_question">
                <div class="col-2" style="margin-right: 10px">
                    {{ field.label }}
                </div>
                {{ field }}
            </div>
        {% endfor %}

        <input style="margin-left: 145px; width: 90px" type="submit" value="Register">
    </form>

    <!--
        <div class="col-4" style="margin-bottom: 30px">
            <h2 style="margin-bottom: 30px">Registration</h2>
            <span style="color:darkred">Sorry, wrong password</span>
        </div>
        <div class="row ask_question">
            <h6 class="col-2">Login</h6>
            <input class="col-9 pole_for_log" type="text">
        </div>
        <div class="row ask_question" style="margin-bottom: 40px">
            <h6 class="col-2">Email</h6>
            <input class="col-9 pole_for_log" type="text">
        </div>
        <div class="row ask_question" style="margin-bottom: 40px">
            <h6 class="col-2">NickName</h6>
            <input class="col-9 pole_for_log" type="text">
        </div>
        <div class="row ask_question" style="margin-bottom: 40px">
            <h6 class="col-2">Password</h6>
            <input class="col-9 pole_for_log" type="password" aria-describedby="passwordHelpBlock">
        </div>
        <div class="row ask_question" style="margin-bottom: 40px">
            <h6 class="col-2">Rereat password</h6>
            <input class="col-9 pole_for_log" type="password" aria-describedby="passwordHelpBlock">
        </div>
        <div class="row ask_question" style="margin-bottom: 40px">
            <h6 class="col-2">Upload avatar</h6>


            <form class="col-9" style="padding: unset" id="upload-container" method="POST" action="#">
                <input id="file-input-image" type="file" name="file" multiple>
                <label for="file-input-image"><img style="margin-left: 29%" id="upload-image"
                                                   src="{% static 'img/upload.svg' %}"></label>
                <div>
                    <input id="file-input" type="file" name="file" multiple>
                    <label for="file-input">Выберите файл</label>
                    <span>или перетащите его сюда</span>
                </div>
            </form>
        </div>
        <div class="row">
            <button class="col-9" style="margin-left: 0px; width: 90px">Register</button>
        </div>
-->

{% endblock %}


{% block scripts %}
    <script src={% static 'js/upload-form.js' %}></script>
{% endblock %}