{% extends "layouts/base.html" %}
{% load static %}


{% block title %}Tag{% endblock %}


{% block left-side %}
    <div class="row" style="margin-bottom: 60px">
        <div class="col-4">
            <h2>Tag: {{ tag }}</h2>
        </div>
    </div>


    <!-- цикл для отображения постов, очень удобно -->
    {% for item in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}


{% endblock %}

{% block pagination %}
    {% include 'components/pagination.html' %}
{% endblock %}

{% block scripts %}
    <script src={% static 'js/like-counter.js' %}></script>
{% endblock %}